# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Secrets
GEMINI_KEY.txt
.env

# Ignore backup files only
main.py.BACKUP_before_replace.py
main.py.bak
main.py.bak_jsonfix
POWERSHELL_GUIDE.txt